Base de dados do Census do Estados Unidos - Base de dados para previs√£o da renda da pessoa com ML

In [1]:
# importando bibliotecas
import pandas as pd
import numpy as np
import random

In [2]:
# Carregando base de dados
data = pd.read_csv("census.csv")

# Vizualizando linhas e colunas
data.shape

(32561, 15)

In [3]:
# Visualizando os primeiros registros
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# √öltimos dados
data.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# 1. Amostragem aleat√≥ria simples

In [5]:
# Definindo a amostra aleatoria a partir do dataframe que tem os registros completos para todas as colunas, n=100 √© 100 valores
# Replace √© capaz de selecionar o proprio registro +1 vez caso est√° True, por padr√£o vem false
# Random_state √© determinado para gerar os dados rand√¥micos, caso for 1 ou qualquer outro valor, vai vir o mesmo resultado
# Colocando como padr√£o
df_amostra_aleatoria_simples = data.sample(n=100, replace=False, random_state=1)

In [6]:
# Registros da amostra
df_amostra_aleatoria_simples.shape

(100, 15)

In [7]:
# Visualizando registros
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

In [8]:
# Funcao para determinar uma amostra
def amostragem_aleatoria_simples(data, amostras):
    return data.sample(n = amostras)

In [9]:
# Chamando a fun√ß√£o para criar a amostragem simples
df_aleatoria_simples_2 = amostragem_aleatoria_simples(data, 200)

In [10]:
# Observando os dados da amostra na perspectiva de tamanho 
df_aleatoria_simples_2.shape

(200, 15)

# 2. Amostragem sistem√°tica

In [11]:
# Tamanho do dataset
data.shape

(32561, 15)

In [12]:
# Retirando uma amostra de 100 pessoas
amostra = 100
populacao = len(data)

# Como definido Popula√ß√£o/Amostra = √© igual a varia√ß√£o de quantos em quantos valores vai analisar os dados para ir armazenando na amostra
valor_de_variacao = populacao//amostra

# Vai variar de 325 em 325
valor_de_variacao

325

In [13]:
random.seed(1)
# Determinando os valores dentro do intervalo [0,325] para gerar um valor
random.randint(0, 325)

68

In [14]:
# Selecionando 100 elementos de 325 em 325
np.arange(68, populacao, step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [15]:
# Fun√ß√£o para amostragem sistem√°tica
def amostragem_sistematica(data, amostras):
    intervalo = len(data) // amostras
    random.seed(1)
    inicio = random.randint(0, intervalo)
    indices = np.arange(inicio, len(data), step=intervalo)
    amostra_sistematica = data.iloc[indices]
    
    return amostra_sistematica

In [16]:
# Chamando a funcao para criar uma amostra sistem√°tica de 100 valores
df_amostra_sistematica = amostragem_sistematica(data, 100)

In [17]:
# Tamanho da amostragem
df_amostra_sistematica.shape

(100, 15)

In [18]:
# Observando os valores
df_amostra_sistematica.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K

# 3. Amostragem por Grupos

In [19]:
# Definindo que cada grupo vai ter 3256.1 valores, sendo 10 grupos
len(data)/10

3256.1

In [20]:
grupos = []
id_grupo = 0
contagem = 0

for _ in data.iterrows(): # iterrows vai percorrer cada registro
    grupos.append(id_grupo)
    contagem = contagem + 1
    
    if contagem > 3256:
        contagem = 0
        id_grupo = id_grupo + 1

In [21]:
np.unique(grupos, return_counts=True) # Verificando a contagem de valores por grupo

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248],
       dtype=int64))

In [22]:
np.shape(grupos), data.shape

((32561,), (32561, 15))

In [23]:
data['Grupo'] = grupos # Definindo o tipo de grupo que cada registro percente ao dataset

In [24]:
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,Grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [25]:
random.randint(0,9)

9

In [26]:
df_agrupamento = data[data['Grupo']==9]

In [27]:
df_agrupamento.shape # Retorna os valores do grupo que contem o 9

(3248, 16)

In [28]:
df_agrupamento['Grupo'].value_counts() # Contando os valores para a coluna 'Grupo' do grupo 9

9    3248
Name: Grupo, dtype: int64

In [29]:
def amostragem_agrupamento(data, numero_grupos):
    intervalo = len(data) / numero_grupos
    
    grupos = []
    id_grupo = 0
    contagem = 0

    for _ in data.iterrows(): # iterrows vai percorrer cada registro
        grupos.append(id_grupo)
        contagem = contagem + 1

        if contagem > intervalo:
            contagem = 0
            id_grupo = id_grupo + 1
            
    data['Grupo'] = grupos
    grupo_selecionado = random.randint(0, numero_grupos)
    return data[data['Grupo'] == grupo_selecionado]

In [30]:
df_amostra_agrupamento = amostragem_agrupamento(data, 10)
df_amostra_agrupamento.shape, df_amostra_agrupamento['Grupo'].value_counts()

((3257, 16),
 1    3257
 Name: Grupo, dtype: int64)

# 4. Amostragem Estratificada

In [31]:
# Biblioteca que j√° realiza esse tipo de amostragem estratificada
from sklearn.model_selection import StratifiedShuffleSplit

In [32]:
# Vamos observar a quantidade de pessoas que recebem menos que 50k e mais que 50k
data['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [33]:
# Para observarmos em porcentagem a quantidade de pessoas que recebem mais de 50k
print('A quantidade de pessoas em (%) que recebem mais de 50k da Base de dados: ', (7841/len(data))*100)

A quantidade de pessoas em (%) que recebem mais de 50k da Base de dados:  24.080955744602438

In [34]:
# Para observarmos em porcentagem a quantidade de pessoas que recebem menos de 50k
print('A quantidade de pessoas em (%) que recebem menos de 50k da Base de dados: ', ((24720/len(data))*100))

A quantidade de pessoas em (%) que recebem menos de 50k da Base de dados:  75.91904425539757

In [35]:
# Precisamos extrair uma amostra estratificada de modo a propor√ß√£o que as pessoas est√£o presentes na base de dados
tamanhoBaseDeDadosTeste = 100/len(data)
split = StratifiedShuffleSplit(test_size=tamanhoBaseDeDadosTeste) # 10% da base de dados, de forma proporcionaal 


for x, y in split.split(data, data['income']): # Vamos percorrer a vari√°vel split que recebe um objeto e ir selecionando na base de dados a coluna que ser√° estudada que √© a 'income'
    df_x = data.iloc[x]
    df_y = data.iloc[y]

In [36]:
df_x.shape, df_y.shape # X: Vai ter 90% das base de dados e Y: vai ter 0.3% da base de dados, logo os dados da amostra, est√£o na vari√°vel Y.

((32461, 16), (100, 16))

In [37]:
# Checando se foi estratificada ou n√£o a amostra
df_y['income'].value_counts()

# Desse modo percebe-se que √© porporcional, de acordo com os dados dispon√≠veis da base

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [65]:
def amostragem_estratificada(data, percentual, coluna):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=1) # 10% da base de dados, de forma proporcionaal 
    for _, y in split.split(data, data[coluna]): # Vamos percorrer a vari√°vel split que recebe um objeto e ir selecionando na base de dados a coluna que ser√° estudada que √© a 'income'
        df_y = data.iloc[y]
        
    return df_y

In [39]:
df_amostra_estratificada = amostragem_estratificada(data,tamanhoBaseDeDadosTeste)
df_amostra_estratificada.shape

(100, 16)

 # 5. Amostragem de reservat√≥rio

In [40]:
def amostragem_reservatorio(data, amostras):
    stream = [] # Lista de valores que vai determinar os ID'S do dataframe para os valores

    for i in range(len(data)):
        stream.append(i)  # Percorrendo no tamanho do dataframe e adicionando um valor ao dataframe
        
    i = 0
    tamanho = len(data)
    reservatorio = [0] * amostras
    
    for i in range(amostras): 
        reservatorio[i] = stream[i]
        
    
    while i < tamanho:
        j = random.randrange(i + 1)
        
        if j < amostras:
            reservatorio[j] = stream[i]
            
        i += 1
        
    return data.iloc[reservatorio]

In [41]:
# Selecionando os registros dentro da vari√°vel 
df_amostragem_reservatorio = amostragem_reservatorio(data, 100)

# Tamanho do registro
df_amostragem_reservatorio.shape

(100, 16)

In [42]:
# Registro selecionados pela amostragem
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,Grupo
29608,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,55,United-States,>50K,9
21696,37,Federal-gov,329088,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States,<=50K,6
30676,42,Private,355728,Assoc-voc,11,Never-married,Craft-repair,Not-in-family,White,Male,0,0,44,United-States,<=50K,9
28550,43,Private,110970,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K,8
8768,52,Federal-gov,221532,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K,2

# Comparativo de resultados

In [43]:
data['age'].mean()

38.58164675532078

In [44]:
df_amostra_aleatoria_simples['age'].mean()

39.41

In [45]:
df_amostra_sistematica['age'].mean()

37.57

In [46]:
# Essa amostragem corresponde ao valor mais pr√≥ximo da m√©dia original
# Por exemplo, ele seleciona um conjunto de dados de idade que contem na base de dados de forma random e calcula a m√©dia dos valores a partir do .mean()
df_amostra_agrupamento['age'].mean()

38.33712004912496

In [47]:
df_amostra_estratificada['age'].mean()

36.9

In [48]:
df_amostragem_reservatorio['age'].mean()

37.85

---------------------------------------------------------------------------------------------------------------------------

# Analisando uma nova base de dados

Vamos availar como os modelos estatisticos se comportam diante uma nova base de dados de Cr√©ditos.

In [49]:
dados = pd.read_csv('credit_data.csv')

In [60]:
# Avaliando a base de dados

dados.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

Vamos avaliar como os valores da feature c#default se comporta diante a algumas an√°lises estat√≠sticas de acordo com os m√©todos j√° criados dentro do pandas.

In [56]:
# M√©dia de idade dos Clientes √© de 40 anos

dados['age'].mean()

40.80755937840458

In [57]:
# Media do rendimento √©: 45331.60

dados['income'].mean()

45331.60001779333

In [58]:
# M√©dia do emprestimo √©: 4444.36

dados['loan'].mean()

4444.369694688262

---------------------------------------------------------------------------------------------------------------------------

Vamos avaliar agora essas caracter√≠sticas/features a partir de amostras realizadas por amostras selecionadas a partir da coluna c#default.

In [61]:
am_aleatoria_simples = amostragem_aleatoria_simples(dados, 1000)

In [63]:
am_sistematica = amostragem_sistematica(dados, 1000)

In [64]:
am_agrupamento = amostragem_agrupamento(dados, 1000)

In [67]:
am_estratificada = amostragem_estratificada(dados, 0.5, 'c#default')

In [68]:
am_reservatorio = amostragem_reservatorio(dados, 1000)

Agora que foram realizadas as aquisi√ß√£o das amostrar a partir dos m√©todos estat√≠sticos, vamos avaliar a partir de cada amostra os valores da m√©dia, dos atributos de rendimento, emprestimos e idade dos clientes

#### Vamos analisar a amostragem aleatoria simples

In [70]:
am_aleatoria_simples['age'].mean()

# Percebe-se que √© bem pr√≥xima ao valor estipulado por todos os dados
# Media por todos os dados: 40.80
# Media pela amostragem: 40.90

40.93164421473019

In [72]:
am_aleatoria_simples['income'].mean()

# Percebe-se que √© pr√≥ximo ao valor estipulado por todos os dados
# Media do rendimento √© de todos os dados: 45331.60
# Media do rendimento da amostragem: 45042.75

45042.75963298281

In [75]:
am_aleatoria_simples['loan'].mean()

# P√®rcebe-se que a media dos valores para emprestimentos disto em compara√ß√£o a todos os valores
# Media do emprestimo de todos os dados: 4444.36
# Media do emprestimo pela amostra: 4301.45

4301.457835651192

#### Amostra Sistematica

In [76]:
am_sistematica['age'].mean()

# Media por todos os dados: 40.80
# Media pela amostra: 40.90

40.91117381141754

In [77]:
am_sistematica['income'].mean()

# Media do rendimento √© de todos os dados: 45331.60
# Media pela amostra: 45691.49

45691.49875066951

In [78]:
am_sistematica['loan'].mean()

# Media do emprestimo de todos os dados: 4444.36
# Media pela amostra: 4506.78

4506.787976426329

#### Amostra por agrupamento

In [79]:
am_agrupamento['age'].mean()

# Media por todos os dados: 40.80
# Media pela amostra: 46.32

46.325289451206736

In [80]:
am_agrupamento['income'].mean()

# Media do rendimento √© de todos os dados: 45331.60
# Media pela amostra: 39381.92

39381.92531621703

In [82]:
am_agrupamento['loan'].mean()

# Media do emprestimo de todos os dados: 4444.36
# Media pela amostra: 5124.99

5124.993537994377

#### Amostragem por estratifica√ß√£o

In [83]:
am_estratificada['age'].mean()

# Media por todos os dados: 40.80
# Media pela amostra: 40.53

40.53363707173919

In [84]:
am_estratificada['income'].mean()

# Media do rendimento √© de todos os dados: 45331.60
# Media pela amostra: 45101.36

45101.36675026739

In [85]:
am_estratificada['loan'].mean()

# Media do emprestimo de todos os dados: 4444.36
# Media da amostra: 4423.74

4423.744651094196

#### Amostragem por reservatorio

In [88]:
am_reservatorio['age'].mean() 

# Media por todos os dados: 40.80
# Media pela amostra: 40.66

40.66004999299844

In [90]:
am_reservatorio['income'].mean()

# Media do rendimento √© de todos os dados: 45331.60
# Media pela amostra: 45081.42

45081.42429728766

In [91]:
am_reservatorio['loan'].mean()

# Media do emprestimo de todos os dados: 4444.36
# Media pela amostra: 4429.47

4429.476055841935

Agora, qual foi o m√©todo estat√≠stico que mais se aproximou de todos os resultados das vari√°veis?

Acredito que o melhor resultado foi pela amostragem por reservat√≥rio. Mas, para certificar o real desempenho de cada m√©todo estat√≠stico √© necess√°rio fazer a diferen√ßa entre o valor relacionado a todos os dados e o valor espec√≠fico para cada amostra.